*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background-image: url(https://pbs.twimg.com/media/EdyQRqpXgAEYFI9.jpg:large);
    overflow: hidden;
}

header {
    margin-top: 10px;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

a{
    text-decoration: none;
    color: white;
    
}

.pokedex{
    position: absolute;
    left: 20px;
    margin-top: 50px;
    width: 25%;
    height: 80%;
    background-color: gray;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    opacity: 0.95;

}

.selecione{
    font-size: 30px;
    font-weight: 800;
}

#pokedex{
    margin-top: 15px;
}

.menu_pokedex{
    list-style: none;
}

li{
    font-size: 30px;
    font-weight: 800;
    margin-top: 10px;
}

.squirtle{
    position: absolute;
    right: 20px;
    margin-top: 50px;
    background-color: #fff;
    height: 80%;
    width: 60%;
    text-align: center;
    border-radius: 10px;


}

#squirtle{
    font-size: 30px;
    font-weight: 900;
    margin-top: 10px;
}

#imagem_squirtle{
    margin-top: 10px;
}

#elemento{
    background-color: rgb(92, 198, 198);
    width: 60%;
    height: 50px;
    font-size: 30px;
    font-weight: 900;
    left: 155px;
    position: absolute;
    border-radius: 10px;
    padding: 7px;
    
}